# Virtual environments
.env
.venv/
env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# --- Ignore common data/docs ---
*.xls
*.xlsx
*.pdf
*.doc
*.docx
*.json
*.txt

!/requirements.txt

temp/